<% ruote["workitem"]["fields"].each do |line| %>
  <div class="panel-group" id="panel-group-l" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#panel-group-l" href="#<%= line.first %>" aria-expanded="true" aria-controls="collapseOne">
      <div class="panel-heading">
        <%= line.first.capitalize %>
      </div>
      <div id="<%= line.first %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>Some default panel content here.</p>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% line[1].each do |key, value| %>
                <tr>
                  <td>1</td>
                  <td><strong><%= key %></strong></td>
                  <td>
                    <% if value.is_a?(Hash) %>
                      <table class="table table-bordered">
                        <tr>
                          <th>Key</th>
                          <th>Value</th>
                        </tr>
                        <% value.each do |k, v| %>
                          <tr>
                            <td><%= k %></td>
                            <td><%= v %></td>
                          </tr>
                        <% end %>
                      </table>
                    <% else %>
                      <%= value %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer"><%= line[1].keys.join(', ') %></div>
    </div>
  </div>
<% end %>